<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-lg">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Edit encounter</legend>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Encounter name</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" ng-model="encounter.text" />
                                <p class="help-block">Name of the encounter</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Campaign</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" ng-model="encounter.campaign" />
                                <p class="help-block">Campaign of the encounter</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Characters</label>
                            <div class="col-md-9">
                                <div data-accordion>
                                    <div data-accordion-group ng-repeat="character in encounter.characters | orderBy:'name'" data-is-open="isopen">
                                        <div data-accordion-heading>
                                            {{character.name}}
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Character name</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="character.name" />
                                                <p class="help-block">Name of the character character</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">HP</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.hp" />
                                                <p class="help-block">Initial HP of the character</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Bloodied</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.bloodied" />
                                                <p class="help-block">Number of HP to loose to become bloodied</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Initiative bonus</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.initBonus" />
                                                <p class="help-block">Bonus to initiative rolls</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Armor class</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.armorClass" />
                                                <p class="help-block">Armor class</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Fortitude</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.fortitude" />
                                                <p class="help-block">Fortitude saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reflex</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.reflex" />
                                                <p class="help-block">Reflex saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Will</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.will" />
                                                <p class="help-block">Will saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Melee attack</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="character.meleeAttack" />
                                                <p class="help-block">Melee attack throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Ranged attack</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="character.rangedAttack" />
                                                <p class="help-block">Ranged attack throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Ammunition</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.ammo" />
                                                <p class="help-block">Number of bullets, darts, arrows</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Surges</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="character.surges" />
                                                <p class="help-block">Number of available surges</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <button type="button" class="btn btn-default" ng-click="deleteCharacter(character)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{selectedParty.text || "Select party"}} <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="party in parties | orderBy:text">
                                                        <a ng-click="selectParty(party)">{{party.text}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button type="button" class="btn btn-default" ng-class="{'disabled': !selectedParty}" ng-click="addSelectedParty()">Add party</button>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6">
                                        <div class="input-group">
                                            <input type="number" value="1" class="form-control" ng-model="templateCount"/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    {{selectedTemplate.text || "Select template"}}
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu multi-level" role="menu">
                                                    <li ng-repeat="race in templates | groupBy:'race':true | orderBy:'toString()'" class="dropdown-submenu">
                                                        <a class="trigger right-caret">{{race}}</a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="template in templates | filter:{race: race}:true">
                                                                <a href="" ng-click="selectTemplate(template)">{{template.text}}</a>
                                                            </li>
                                                        </ul>
                                                    </li>


                                                </ul>
                                                <button type="button" class="btn btn-default" ng-class="{'disabled': !selectedTemplate}" ng-click="addSelectedTemplate()">Add NPC</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-sm-push-9 col-md-push-0" >
                                <a href="#/encounters" class="btn btn-default pull-right">Back</a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-sm-pull-3 col-md-pull-0">
                                <button class="btn btn-primary" ng-click="save()" ng-class="{'disabled': !encounter.text}">Save</button>
                                <button class="btn btn-default" ng-click="delete()">Delete</button>
                                <button class="btn btn-default" ng-click="play()">Play</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        {{JSON.stringify(encounter, null, '\t')}}
    </div>
</div>
