<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-lg">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Edit party</legend>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Party name</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" ng-model="party.name" />
                                <p class="help-block">Name of the party</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Players</label>
                            <div class="col-md-9">

                                <div data-accordion>
                                    <div data-accordion-group ng-repeat="player in party.players | orderBy:'name'" data-is-open="isopen">
                                        <div data-accordion-heading>
                                            {{player.name}}
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Player name</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="player.name" />
                                                <p class="help-block">Name of the player</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">HP</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.hp" />
                                                <p class="help-block">Initial HP of the player</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Bloodied</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.bloodied" />
                                                <p class="help-block">Number of HP to loose to become bloodied</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Initiative bonus</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.initBonus" />
                                                <p class="help-block">Bonus to initiative rolls</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Armor class</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.armorClass" />
                                                <p class="help-block">Armor class</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Fortitude</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.fortitude" />
                                                <p class="help-block">Fortitude saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reflex</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.reflex" />
                                                <p class="help-block">Reflex saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Will</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.will" />
                                                <p class="help-block">Will saving throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Melee attack</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="player.meleeAttack" />
                                                <p class="help-block">Melee attack throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Ranged attack</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="text" ng-model="player.rangedAttack" />
                                                <p class="help-block">Ranged attack throw</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Ammunition</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.ammo" />
                                                <p class="help-block">Number of bullets, darts, arrows</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Surges</label>
                                            <div class="col-md-9">
                                                <input class="form-control" type="number" ng-model="player.surges" />
                                                <p class="help-block">Number of available surges</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <button type="button" class="btn btn-default" ng-click="deletePlayer(player)">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-default" ng-click="addPlayer()">Add player</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-sm-push-9 col-md-push-0">
                                <a href="#/parties" class="btn btn-default pull-right">Back</a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-sm-pull-3 col-md-pull-0">
                                <button class="btn btn-primary" ng-click="save()" ng-class="{'disabled': !party.name}">Save</button>
                                <button class="btn btn-default" ng-click="delete()">Delete</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
