<div class="container">
    <div class="row">
        <h1>NPC templates</h1>
    </div>

    <div class="row">
        <div data-accordion>
            <div data-accordion-group ng-repeat="race in templates | groupBy:'race':true | orderBy:'toString()'" data-is-open="isopen">
                <div data-accordion-heading>
                    {{race}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                </div>
                <div class="list-group">
                    <a href="#/template/{{template.id}}" class="list-group-item" ng-repeat="template in templates | filter:{race: race}:true | orderBy:'text'">
                        {{template.text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#/setup" class="btn btn-default">Back</a>
        <a href="#/template/_new" class="btn btn-default">Add template</a>
    </div>
</div>